/* 
    Created on : 28 Jul, 2019, 7:28:47 PM
    Author     : kayshu
*/
body{
    font-family:sans-serif;
    font-size: 15px;
}

form{
    padding:20px;
}

.padded{
    padding:0 20px 0 20px;
}

.text-padded{
    padding:0 15px 15px 15px;
}

#content,#add-content{
    padding: 0 10px 0 10px;
}

.highlight{
    text-decoration: underline;
    color:blue;
}

.italics{
    font-style: italic;
}
.content-data{
    padding: 10px 0 10px 0;
}

.large{
    font-size: 17px;
    padding:2px 0 2px 0;
}